<div class="login-container">
  <h2 class="login-title">Log in to Sci-Flix!</h2>
  
  <form (ngSubmit)="loginUser()" #loginForm="ngForm">
    <div class="form-field-container">
      <mat-form-field appearance="outline" class="form-field dark-input">
        <mat-label>Username</mat-label>
        <input
          matInput
          [(ngModel)]="userData.username"
          type="text"
          name="username"
          required
          #username="ngModel"
          style="background-color: rgba(30, 41, 59, 0.8) !important;"
        >
        <mat-icon matSuffix>person</mat-icon>
      </mat-form-field>
    </div>
    
    <div class="form-field-container">
      <mat-form-field appearance="outline" class="form-field dark-input">
        <mat-label>Password</mat-label>
        <input
          matInput
          [(ngModel)]="userData.password"
          [type]="hidePassword ? 'password' : 'text'"
          name="password"
          required
          #password="ngModel"
          style="background-color: rgba(30, 41, 59, 0.8) !important;"
        >
        <button 
          mat-icon-button 
          matSuffix 
          type="button"
          (click)="hidePassword = !hidePassword" 
          [attr.aria-label]="'Toggle password visibility'"
        >
          <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </div>
    
    <div class="login-action-buttons">
      <button
        mat-raised-button
        type="submit"
        [disabled]="loginForm.invalid"
      >
        <span *ngIf="!isLoading">Login</span>
        <mat-spinner *ngIf="isLoading" diameter="24" class="spinner"></mat-spinner>
      </button>
    </div>
  </form>
</div>