<mat-card class="signup-card">
  <mat-card-header>
    <mat-card-title class="signup-title">Sign Up!</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form (ngSubmit)="registerUser()" #registrationForm="ngForm">
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Username</mat-label>
        <input
          matInput
          [(ngModel)]="userData.username"
          type="text"
          name="username"
          required
          #username="ngModel"
          minlength="3"
        >
        <mat-icon matSuffix>person</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Password</mat-label>
        <input
          matInput
          [(ngModel)]="userData.password"
          [type]="hidePassword ? 'password' : 'text'"
          name="password"
          required
          #password="ngModel"
          minlength="8"
        >
        <button 
          mat-icon-button 
          matSuffix 
          type="button"
          (click)="hidePassword = !hidePassword" 
          [attr.aria-label]="'Toggle password visibility'"
        >
          <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Email</mat-label>
        <input
          matInput
          [(ngModel)]="userData.email"
          type="email"
          name="email"
          required
          #email="ngModel"
          email
        >
        <mat-icon matSuffix>email</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="outline" class="form-field birthdate-field">
        <mat-label>Birthday</mat-label>
        <input
          matInput
          [(ngModel)]="userData.birthday"
          type="date"
          name="birthday"
          #birthday="ngModel"
          max="{{maxDate | date:'yyyy-MM-dd'}}"
        >
        <mat-icon matSuffix>event</mat-icon>
      </mat-form-field>
      <div class="signup-action-buttons">
        <button
          mat-raised-button
          type="submit"
          [disabled]="isLoading"
          class="submit-button"
        >
          <span *ngIf="!isLoading">Sign Up</span>
          <mat-spinner *ngIf="isLoading" diameter="24" class="spinner"></mat-spinner>
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>